.list
  .list-filter
    .list-filter_sort(*ngIf="model.sort", (click)="toggleSortReverse()")
      input(type="checkbox", [value]="sort")
      label Sort reverse
    .list-filter_search(*ngIf="model.search")
      input(type="text", (keyup)="detectSearchWord($event)", placeholder="Search")
    .list-filter_checkbox(*ngIf="model.filter")
      .header Filters:
      .filters-list      
        .filter(*ngFor="let filter of filterModel.filters; trackBy: name", (click)="filter.active = !filter.active", [class.active]="filter.active")
          .checkbox([ngClass]="filter.name")
      .extra((click)="toggleSeparate()")
        input(type="checkbox", [value]="separately")
        label Find separately
      

  .list-item(*ngIf = "items.length")
    app-item(*ngFor="let item of items | orderBy: 'name': sort | searchItem: search : filterModel.filters : separately; trackBy: name", 
    [item]="item", (click)="selectItem(item)",
    [active]="activeItem && activeItem.name == item.name")