.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .list-wrapper,
  .info-wrapper {
    border: 1px solid rgb(45, 72, 122);
    max-width: 300px;
    padding: 20px;
  }
  .info-wrapper {
    max-height: 300px;
  }
}