.item-info
  h4 Current item
  .item-info_field
    span.name Name:&nbsp;
       span.value {{ item.name }}
  .item-info_field
    .flags
      .label Flags:
      .flag(*ngFor="let flag of item.flags", [ngClass]="flag")


