.list
  .list-filter
    .list-sort
      input(type="checkbox", name="Sort" [value]="sort")
      label Sort
    .list-search
      input(type="text", name="SearchBox" [value]="search")
    .list-checkbox-filter

  .list-item(*ngIf = "items.length")
    app-item(*ngFor="let item of items | searchItem: search; trackBy: index", [item]="item")