.list
  .list-filter
    .list-sort((click)="toggleSortReverse()")
      input(type="checkbox")
      label Sort
    .list-search
      input(type="text", (keyup)="detectSearchWord($event)", placeholder="Search")
    .list-checkbox-filter

  .list-item(*ngIf = "items.length")
    app-item(*ngFor="let item of items | orderBy: 'name': sort | searchItem: search; trackBy: name", [item]="item")