@mixin item-flags() {
  margin: 5px;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: transparent;
  background-size: cover;
  &.sun {
    background-image: url('../../../../../assets/sun.png')
  }
  &.heart {
    background-image: url('../../../../../assets/heart.png')
  }
  &.flower {
    background-image: url('../../../../../assets/flower.png')
  }
  &.flash {
    background-image: url('../../../../../assets/flash.png')
  }
}
@mixin material-card() {
  box-shadow: 0px 1px 5px #222;
  background-color: #e7e7e7;
}