@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";

.item {
  padding: 10px;
  transition: .1s ease-in-out;
  &.active {
    border: 1px solid $border-color;    
  }
  &:hover {
    background: $hover-color;
  }
  .item-name{
    font-size: 16px;
  }
  .item-flags {
    margin: 10px;
    .flag {      
      @include item-flags();
    }
  }
}